.gridpie {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}

.gridnumber {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  justify-items: center;
}

.bigPieBar {
  display: grid;
  grid-template-columns: 20% 80%;
  justify-items: center;
}

.gridlinear {
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: "center";
  justify-items: "center";
  padding: 1em 0em 1em 0em;
}

.gridzone {
  display: grid;
  grid-template-columns: 100%;
  align-items: "center";
  justify-items: "center";
  padding: 0em 0em 1em 0em;
}

.gridline {
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: "center";
  justify-items: "center";
  padding: 1em 0em 1em 0em;
}

.linesCharts {
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: "center";
  justify-items: "center";
  padding: 1em 0em 1em 0em;
}

.Dividers {
  display: none;
}

@media screen and (max-width: 2000px) {
  .gridzone {
    grid-template-columns: 50% 50%;
  }
  .gridline {
    grid-template-columns: 50% 50%;
  }
  .bigPieBar {
    grid-template-columns: 100%;
  }
  .linesCharts {
  grid-template-columns: 100%;
}
}


@media screen and (max-width: 1400px) {
  .gridpie {
    grid-template-columns: 25% 25% 25% 25%;
  }
  .gridlinear {
    grid-template-columns: 100%;
  }
  .gridnumber {
    grid-template-columns: 25% 25% 25% 25%;
  }
  .gridzone {
    grid-template-columns: 50% 50%;
  }
  .gridline {
    grid-template-columns: 50% 50%;
  }
  .bigPieBar {
    grid-template-columns: 100%;
  }
  .linesCharts {
  grid-template-columns: 100%;
}

}

@media screen and (max-width: 1200px) {
  .gridpie {
    grid-template-columns: 50% 50%;
  }
  .gridlinear {
    grid-template-columns: 100%;
  }
  .gridnumber {
    grid-template-columns: 50% 50%;
  }
  .gridzone {
    grid-template-columns: 50% 50%;
  }
  .gridline {
    grid-template-columns: 50% 50%;
  }
  .bigPieBar {
    grid-template-columns: 100%;
  }
}

@media screen and (max-width: 1150px) {
  .gridnumber {
    grid-template-columns: 25%  25%  25%  25%;
  }
  .gridzone {
    grid-template-columns: 100%;
  }
  .gridline {
    grid-template-columns: 100%;
  }
}


@media screen and (max-width: 900px) {
  .gridpie {
    grid-template-columns: 100%;
  }
  .gridnumber {
    grid-template-columns: 50% 50%;
  }
  .gridzone {
    grid-template-columns: 100%;
  }
  .gridline {
    grid-template-columns: 100%;
  }
}

