.gridpie {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}

.gridnumber {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  justify-items: center;
}

.gridlinear{
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: "center";
  justify-items: "center";
  padding: 1em 0em 1em 0em;
}

@media screen and (max-width: 1300px) {
  .gridpie {
    grid-template-columns: 50% 50%;
  }
  .gridlinear {
    grid-template-columns: 100%;
  }
  .gridnumber{
    grid-template-columns: 50% 50%;
  }
}

@media screen and (max-width: 950px) {
    .gridpie {
      grid-template-columns: 100%;
      
    }
    .gridnumber{
      grid-template-columns: 50% 50%;
    }
  }